/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'mixins/index.scss' as mixins;
@use 'theme' as theme;
@use 'layout' as layout;
@include mat.core;

html {
  @include mat.core-theme(theme.$light-theme);
  @include mat.all-component-themes(theme.$light-theme);
  @include mat.system-level-typography(theme.$light-theme);

  // required for references to system level colors such as on-primary
  @include mat.system-level-colors(theme.$light-theme);

  // custom, component level mixins
  @include mixins.auth-theme(theme.$light-theme);
  @include mixins.button-theme(theme.$light-theme);
  @include mixins.form-theme(theme.$light-theme);
  @include mixins.list-theme(theme.$light-theme);
  @include mixins.typography-theme(theme.$light-theme);
  @include mixins.side-theme(theme.$light-theme);
  @include mixins.view-theme(theme.$light-theme);
  @include mixins.page-header-theme(theme.$light-theme);
  @include mixins.submission-theme(theme.$light-theme);
  @include mixins.task-theme(theme.$light-theme);
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
